<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361259782888-77fjitnm9jq8o7j3b0mfqiu5e6adncg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361259782888-77fjitnm9jq8o7j3b0mfqiu5e6adncg6</string>
	<key>API_KEY</key>
	<string>AIzaSyAUDE0g3fM7b5rqJuF1XMn8VAnf6lsLK6U</string>
	<key>GCM_SENDER_ID</key>
	<string>361259782888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brian.instaclonefirebase.com.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-ea138</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-ea138.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361259782888:ios:26d2c6f5a9d350a7a4ef5d</string>
	<key>DATABASE_URL</key>
	<string>https://instaclonefirebase-ea138.firebaseio.com</string>
</dict>
</plist>